* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow: hidden;
}
section{
background: black;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.image{
  display: none;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  /* transition: transform 0.5s; */

}
.image-div{
  display: relative;
}

.corona{
  /* display: none; */
  padding: 0;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: transform 0.5s;
}

.myStyle{
  color: rgba(66,135,173,1);
  padding:-1px;
  display: block;
  width: 20vw;
  font-family: monospace;
  font-size: 3rem;
  overflow: hidden; /* Ensures content is not revealed until animation */
  white-space: nowrap; /* Keep content in a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1px; /* Adjust as needed */
animation:
  typing 1s steps(30, end),
  blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 150px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.detail-button{
  display: none;
}

.detail-button{
  color: white;
  height: 4rem;
  width: 8rem;
  font-size: 2rem;
  display: block;
  background-color: black;
  position: absolute;
  top: 92.5vh;
  /* border: none; */
  border-bottom: 0;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  border:0 white;
  /* transition: border 3s linear 1s; */
  /* animation: bordereffect 1s infinite; */
}
/* @keyframes bordereffect {
  to:{border: 2px dashed white}
} */
.detail-button:focus{
  outline: none;
}
p{
  display: block;
}

.fa{
  position: relative;
}
.detail-button:hover .fa{
    animation:
      movie 1s linear infinite;

}
@keyframes movie {
  0%{top: 0}
  50%{top:10px}
  100%{top: 0}
}
